<div class="dh-code-dialog">
    <div class="instructions">
        <p>
            <i class="fas fa-info-circle"></i>
            {{{localize "DH_STATBLOCK_IMPORTER.CodeDialog.instructions" count=featureCount}}}
        </p>
    </div>

    <textarea readonly>{{code}}</textarea>

    <div class="dialog-buttons">
        <button type="button" data-action="copy" class="copy-button">
            <i class="fas fa-clipboard"></i> {{localize "DH_STATBLOCK_IMPORTER.Common.copyToClipboard"}}
        </button>
    </div>
</div>
